* {
    margin: 0;
	padding: 0px;
	border: 0;
}

body {
    background-color: #028090;
    color: #faebd7;
}
.skip {
    display: none;
}

nav {
    border: 1px pink solid;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  
    
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    border: 1px red solid;
    padding: 15px 10px; 
}
.bookclass {
    background: #052942;
    /* font-size: 20px; */
    font-weight: bold;
    border-radius: 10px;
    /* padding:  10px 20px; */
}
li {
    list-style: none;
    padding: 10px 15px;
    
}

a {
    color: antiquewhite;
}

.logo {
    border: 1px green solid;
}

.logo {
    align-items: center;
    justify-content: flex-start
}

.container {
    padding: 10px;
}

a:hover {
    color: red;
}