* {
    margin: 0;
	padding: 0px;
	border: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
}
.skip {
    display: none;
}

nav {
    border: 1px pink solid;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  
    
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    border: 1px red solid;
    padding: 15px 10px; 
}
.bookclass {
    background: #052942;
    /* font-size: 20px; */
    font-weight: bold;
    border-radius: 10px;
    /* padding:  10px 20px; */
}
li {
    list-style: none;
    padding: 10px 15px;
    
}

a {
    color: antiquewhite;
}

.logo {
    border: 1px green solid;
}

.logo {
    align-items: center;
    justify-content: flex-start
}

.container {
    padding: 10px;
}

a:hover {
    color: red;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
    max-height: 400px;
    border: red 1px solid;
}

/* MAIN */

main {
    border: rgb(147, 0, 140) 1px solid;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
}

.main-content-left {
    width: 50%;
    border: 1px solid;
}


.main-content-right {
    width: 50%;
    border: 1px solid;
}

/* FOOTER */
footer {
    border: rgb(19, 94, 0) 1px solid;
    /* position: fixed; */
    left: 0;
    bottom: 0px;
    width: 100%;
}